:global(.high-definition) {
  .box {
    background-image: url("../../images/hd-page-bg.png");
  }
}

.box {
  &.bg-decoration{

  }
  &.bg-decoration-2{

  }
  &.hide{
    display: none !important;
  }
  background: var(--color-bg) url("../../images/page-bg.png") left top/1000px auto repeat;
  padding: 5mm;
  border-radius: 1.3mm;
  background-position: 136mm center;
  background-size: 148mm auto;

  > * {
    background: white;
    border-radius: 1.3mm;
  }
}
