:global(.high-definition) {
  .box {
    background-image: url("../../images/theme-3/trip-1/box-deco.svg");
  }
}

.box {
  &.bg-decoration{
    background-image: url("../../images/theme-3/trip-1/box-deco.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
  &.bg-decoration-2{
  }
  &.hide{
    display: none !important;
  }
  background: var(--color-bg) left top/1000px auto repeat;
  padding: 6mm;
  border-radius: 3mm;
  background-position: 136mm center;
  background-size: 148mm auto;

  > * {
    background: white;
    border-radius: 3mm;
  }
}
