:global(.high-definition) {
  .box {
    background-image: url("../../images/hd-page-bg.png");
  }
}

.box {
  background: var(--color-bg) left top/1000px auto repeat;
  padding: 6mm;
  border-radius: 3mm;
  background-position: 136mm center;
  background-size: 148mm auto;

  > * {
    background: white;
    border-radius: 3mm;
  }
}
