@import '../../../config/bootstrap/bootstrap-var';

.game-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :global {
    // Sync it with bubble-pic's padding
    .bp-bubble-pic {
      padding-left: 114px;
      min-height: 150px;

      & > *:first-child {
        width: 114px + 36px;
        height: 114px + 36px;
      }
    }
  }
}

.mob-fullscreen {
  color: var(--neutral-secondary-F);
  font-style: italic;
  margin-top: 5px;
  font-size: 95%;
  font-weight: bold;
  text-align: center;
}

.game a {
  color: $body-color;
}

.babyname-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $main-padding;

  & > div {
    font-family: $bpoom-font;
    text-align: center;
    border: 1px solid var(--neutral-secondary-F);
    border-radius: 10px;
    padding: 0 10px;

    & > div {
      font-size: 30px;
      font-weight: bold;
      line-height: 70px;
    }
  }

  .char::after {
    content: normal !important;
  }

  .name {
    margin: 0;
  }
}

.char {
  font-family: $bpoom-font;
  text-transform: uppercase;
}

.name {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 20px;

  .char {
    flex: 1;
    max-width: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--neutral-secondary-F);
    align-self: center;

    &::after {
      content: '';
      visibility: hidden;
      display: inline-block;
      width: 94%;
      max-width: 26px;
      height: 4px;
      border-radius: 4px;
      background: var(--neutral-secondary-F);
      margin-top: -14px;
    }

    &.ko {
      span {
        visibility: hidden;
      }

      &::after {
        visibility: visible;
      }
    }
  }
}

.charset {
  background: var(--neutral-secondary-B);
  width: calc(100% + #{$main-padding});
  margin-top: 0;
  margin-left: -$main-padding / 2;
  margin-right: -$main-padding / 2;
  margin-bottom: -$main-padding / 2;
  padding: 2px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .char {
    width: (100% / 7);
    text-align: center;
    float: left;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      padding-top: 100%;
      float: left;
    }

    &.ok,
    &.ko {
      cursor: initial;
      .content {
        color: white;
      } // Color OK
    }
    &.ok {
      .content,
      &:hover .content {
        background: #84c152;
      } // Color OK
    }
    &.ko {
      .content,
      &:hover .content {
        background: #e83838;
      } // Color OK
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 110%;
      border-radius: 2px;
      margin: 2px;
      background: var(--neutral-secondary-F);
      color: var(--neutral-secondary-B);
    }

    &:hover .content {
      background: var(--neutral-secondary-E);
    }
  }
}

.game,
.panel {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.game,
.panel {
  justify-content: space-between;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .game-container {
    :global(.bp-bubble-say) {
      & > *:first-child {
        background-size: 130%;
        background-position: right top;
      }
    }

    &.M1,
    &.F1 {
      :global(.bp-bubble-say) {
        & > div:first-child {
          background-position: right -7px;
        }
      }
    }
  }

  .game {
    flex-direction: row;
  }

  .game > * {
    margin: 0 50px;
    align-self: flex-start;
    justify-content: center;

    &:first-child {
      margin-top: 100px;
      margin-right: 0;
    }
  }

  .babyname-container {
    margin-top: 150px;
  }

  .name {
    margin: 20px 0 40px;
  }

  .charset {
    width: 100%;
    margin: 0;
  }
}
