@import '../../../config/bootstrap/bootstrap-var';

$height: 150px;

.top {
  text-align: center;

  & > div:first-child + div::before {
    margin-left: -70px;
  }
}

.left,
.right {
  display: flex;
  flex-direction: row;

  & > div {
    flex: 1 1 auto;
    align-self: center;
  }

  .img {
    flex: 0 0 auto;
  }
}

.left .img {
  margin-right: 40px;
}

.right .img {
  order: 1;
  margin-left: 40px;
}

.img {
  display: inline-block;
  width: $height;
  height: $height;
  border: 2px solid white;
  border-radius: $height;
  margin-bottom: 10px;
  background: white none center no-repeat;
  background-size: cover;
}

.clickable {
  cursor: pointer;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .img {
    border-width: 4px;
    margin-bottom: 0;
  }
}
