@import '../../../config/bootstrap/bootstrap-var';

$panel-padding: $main-padding;
$img-size: 120px;

.panel {
  &[data-img] {
    .header {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: $panel-padding;
        top: $panel-padding;
        bottom: -$panel-padding;
        z-index: 1;
        width: $img-size;
        background: transparent none right top no-repeat;
        background-size: contain;
      }

      padding-right: $img-size + $panel-padding * 2;
    }

    .block {
      //padding-top: $panel-padding * 2;
    }
  }
  &[data-img='piggy-bank'] .header::before {
    background-image: img-url('/payments/piggy-bank.png');
  }
}

.header {
  padding: $panel-padding;
  background-color: var(--neutral-secondary);
  color: var(--neutral-secondary-F);
  font-family: $bpoom-font;
  font-weight: bold;
  font-size: 28px;
}

.block {
  padding: $panel-padding;
  background-color: var(--neutral-secondary-E);
  white-space: pre-line;
  color: var(--neutral-secondary);
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .header {
    padding-left: $panel-padding * 2;
    padding-right: $panel-padding * 2;
  }

  .block {
    padding: $panel-padding * 2;
  }
}
