.parents-presentation-panel {
  background-image: url('../../images/theme-2/parent/items.svg');
  background-position: 70% 55%;
  background-size: 85%;
}

.parents-reaction-page-content {
  vertical-align: middle;
  line-height: var(--page-height);
}

.parents-reaction {
  display: inline-block;
  text-align: center;
  line-height: normal;
  width: 45%;
}

.image-container {
  background: #f5f5f5 none center/cover no-repeat;
  width: 61mm;
  height: 61mm;
  margin: 0 auto;
  border-radius: 50%;
}

.quote-container {
  position: relative;
  display: inline-block;
  width: 66mm;
  padding: 6.5mm;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  color: var(--page-color-gray);
  border: 5mm solid gray;
  border-radius: 4mm;
  border-color: var(--color-bg);

  &::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -10.5mm;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0mm 2mm 6mm 2mm;
    border-color: transparent transparent var(--default-color-border) transparent;
    transform: rotate(0deg);
    border-color: transparent transparent var(--color-bg) transparent;
  }
}

.parent-1 .quote-container {
  margin-top: 8mm;
}

.parent-2 {
  // It's ok if display flex is not supported
  // Pdf will be generated correctly anyway
  & > * {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .quote-container {
    margin-bottom: 8mm;

    &::before {
      top: auto;
      bottom: -10.5mm;
      transform: rotate(180deg);
    }
  }
}

.stat-presentation-panel {
  background-image: url('../../images/theme-2/parent/stats.svg');
  background-size: 50%;
  background-position: 40% 28%;
}

.list {
  width: 106mm;
  padding: 10.5mm 9mm 39.5mm;
  background: white;
  border-radius: 1.9mm;
  display: inline-block;
  line-height: normal;
  text-align: left;

  li {
    padding: 4mm 2.5mm;
    border-bottom: 1mm solid var(--page-border-color);
    letter-spacing: -1.1mm;
    display: inline-block;
    vertical-align: top;
    width: 100%;

    & > * {
      display: inline-block;
      letter-spacing: 0;
    }

    & > i {
      display: inline-block;
      vertical-align: middle;
      width: 9mm;
      height: 9mm;
      margin-right: 2mm;
      background: transparent url('../../images/pictos-pages/sprite-stat-pictos.svg') left top/100% auto no-repeat;

      &.time-icon {
        background-position: left -10mm;
      }
      &.visits-icon {
        background-position: left -21mm;
      }
      &.messages-icon {
        background-position: left -33mm;
      }
    }
  }
}

.result {
  width: 33.5mm;
  font-size: 22px;
  font-weight: bold;
  word-wrap: break-word;
}

.desc {
  width: 38mm;
}

.panel{
  background-size: 95% !important;
  background: var(--color-bg) url("../../images/theme-2/parent/yellow leaves.svg");
  background-repeat: no-repeat;
  background-position: center;
}
