.flexDisplay{
  display: flex;
}
.wrapper {
  flex: 1;
  align-items: center;
  display: flex;
  padding-left: 50px;
  i{
    font-size: 30px;
    font-weight: 900 !important;
    background-color: rgb(247, 247, 247) !important;
    border-width: 3px !important;
    border-color: rgb(247, 247, 247) ;
    border-style: dashed;
  }
}
.familyNodeRoot {
  position: absolute;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  top: 20px;

  & img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.rootTree {
  width: 0 !important;
  position: absolute !important;
  left: 32%;
  top: 25%
}

.img-tree{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  height: 500px;
}

.heart{
  position: absolute;
  left: 92%;
  top: 27%;
  width: 30px !important;
  height: 30px !important;
}
