.flexDisplay {
  display: flex;
}
.wrapper {
  flex: 1;
  align-items: center;
  display: flex;
  padding-left: 50px;
  i {
    background-color: rgb(247, 247, 247) !important;
    border-width: 2px !important;
    border-color: #ff5c70;
    border-style: dashed;
    border-radius: 0px;
  }
}
.familyNodeRoot {
  position: absolute;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  top: 20px;

  & img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 20px;
    clip-path: polygon(5% 4%, 3% 25%, 6% 66%, 6% 92%, 16% 95%, 52% 97%, 82% 95%, 96% 90%, 100% 79%, 100% 68%, 99% 51%, 98% 37%, 97% 26%, 95% 14%, 94% 7%, 93% 1%, 80% 2%, 68% 2%, 45% 3%, 23% 2%);
  }
}

.rootTree {
  width: 0 !important;
  position: absolute !important;
  left: 10%;
  top: 25%;
}

.img-tree {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  height: 500px;
}

.heart {
  position: absolute;
  left: 94%;
  top: 27%;
  width: 30px !important;
  height: 30px !important;
}
.familyNameItem{
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 600;
}
