@import '../../../config/bootstrap/bootstrap-var';

:global {
  body.no-bars {
    header, footer { display: none; }
  }
}

.guest-book-form {
  form {
    padding: $main-padding;
    background: var(--neutral-primary-D);
    border-radius: 15px;
  }

  label {
    position: absolute;
    top: 1px;
    margin: 0;
    z-index: 1;
    left: $main-padding / 2;
    text-shadow: -3px 0 3px white, 0 3px 3px white, 3px 0 3px white, 0 -3px 3px white;
  }

  textarea {
    min-height: 170px;
  }
}

.progress {
  margin-top: 10px;
  font-weight: bold;
}

.upload-img {
  display: flex;
  margin-top: $main-padding + 4px;
  padding: $main-padding;
  background: var(--neutral-primary-C);
  border-radius: 15px;

  & > div:first-child {
    margin-right: $main-padding;
  }
}

.upload-desc {
  flex: 1;

  & > div:first-child {
    margin-bottom: 4px;
  }
}

.incentive {
  color: #d5797b;
  font-weight: bold;
}

.actions {
  display: flex;
  margin-top: $main-padding;

  button {
    width: 50%;
    margin-left: $main-padding;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .upload-img {
    margin-top: $main-padding * 2;
  }
}
