section {
  .back-cover-content {
    text-align: center;
    width: 58mm;
    padding: 10.5mm 5mm 10.5mm;
    background: white;
    border-radius: 2.5mm;
  }
  .back-cover-image-logo {
    width: 30.5mm;
    height: auto;
    margin: 0 auto 2.5mm;
  }
  .back-cover-ml {
    display: inline-block;
    font-size: 9px;
    width: 25mm;
    color: var(--page-color-gray);
  }
}
