@import '../../../config/bootstrap/bootstrap-var';

.game-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :global(.bp-bubble-say),
  :global(.bp-bubble-pic) {
    & > *:first-child {
      background-size: 130%;
      background-position: right top;
    }
  }

  &.M1,
  &.F1 {
    :global(.bp-bubble-say),
    :global(.bp-bubble-pic) {
      & > div:first-child {
        background-position: right -4px;
      }
    }
  }
}

.help {
  color: $body-color;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: underline;
  margin-top: $main-padding;

  &:hover {
    text-decoration: none;
  }
}

.puzzle-container {
  flex: 1 0 auto;
  max-width: 318px;
  width: 100%;
  margin: ($main-padding + 8px) auto 0;
}

.puzzle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  outline: 8px solid var(--neutral-secondary-B);
  background: var(--neutral-secondary-B);

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 4px solid white;
    border-radius: 2px;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: opacity 1000ms, transform 100ms;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .game-container {
    &.M1,
    &.F1 {
      :global(.bp-bubble-say) {
        & > div:first-child {
          background-position: right -7px;
        }
      }
    }
  }

  .puzzle-container {
    margin-top: $main-padding * 2;
  }

  .help {
    margin-top: $main-padding + 8px;
  }
}
