.page > * {
  width: 50% !important;
}

.arrival-presentation-panel {
  background-image: url('../images/bg-pages/bg-arrival.svg');
}

.info-page {
  background: inherit url('../images/bg-pages/bg-info.svg') left top/100% auto no-repeat;
}

.info-content-panel {
  text-align: left;
}

.figure {
  text-align: center;
  line-height: normal;
  display: inline-block;
  width: 66mm;
}

.baby-img {
  width: 58mm;
  height: 58mm;
  margin: 0 auto;
  border-radius: 50%;
  background: #f5f5f5 url('') center/cover no-repeat;
}

.fullname {
  font-size: 7mm;
  margin-bottom: 2.5mm;
}

.lastname {
  vertical-align: bottom;
  color: var(--color-text);
}

body .border-box {
  display: inline-block;
  line-height: normal;
  margin-top: 5mm;
  padding: 6.5mm;
  background-position: 174.5mm center;
  background-size: 190.5mm auto;

  & > * {
    display: inline-block;
    min-width: 65mm;
    padding: 2.5mm 0;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.baby-info-line {
  padding: 2.2mm 5mm;
  word-wrap: break-word;
  letter-spacing: -1.1mm;
  display: block;
  min-width: 84mm;

  > i,
  > span {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
  }
  > i {
    width: 7mm;
    height: 7mm;
    margin-right: 2mm;
    background: transparent url('../images/pictos-pages/sprite-info-pictos.svg') left top/100% auto no-repeat;
  }
}

.sm:nth-child(even) {
  clear: both;
}

.sm {
  float: left;
  width: 50%;
  min-width: 42mm;
  margin-top: 6mm;
  position: relative;

  span {
    text-transform: capitalize;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: -100%;
    top: -3.5mm;
    border-top: 1mm solid var(--page-border-color);
  }
}

.sm,
.sm + .sm + .sm,
.sm + .sm + .sm + .sm + .sm {
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -2.5mm;
    bottom: -5mm;
    right: -0.5mm;
    border-right: 1mm solid var(--page-border-color);
  }
}

.sm:first-child:last-child,
.sm + .sm,
.sm + .sm + .sm + .sm,
.sm + .sm + .sm + .sm + .sm + .sm {
  &::after {
    content: normal;
  }
}

.sm + .sm + .sm {
  margin-top: 0;
}

.sm:first-child:last-child,
.sm + .sm {
  &::before {
    content: normal;
  }
}

.hour i {
  background-position: left -7mm;
}
.location i {
  background-position: left -15mm;
}
.gender i {
  background-position: left -22mm;
}
.weight i {
  background-position: left -36mm;
}
.size i {
  background-position: left -49mm;
}
.zodiac i {
  background-position: left -28.7mm;
}
.hair i {
  background-position: left -42mm;
}
.eyes i {
  background-position: left -55.6mm;
}
