@import '../../../config/bootstrap/bootstrap-var';

.upload-input {
  position: relative;
  width: 100%;
  overflow: hidden;

  button {
    width: 100%;
  }

  input {
    opacity: 0;
    font-size: 55px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.camera-input {
  margin-top: $main-padding;
  display: block;
  width: 100%;
}

.progress {
  margin-top: 10px;
  font-weight: bold;
}

.modal {
  background: url(./gears.svg) center no-repeat;
  min-height: 200px;
}

.modal-footer {
  button + button {
    margin-left: 15px;
  }
}

.video,
.img {
  max-width: 100%;
  display: block;
}
