@import '../../../config/bootstrap/bootstrap-var';
@import '../../components/bubble/styles.scss';

.guest-book-container {
  & > button,
  & > .button-container {
    flex: none;
    margin: $main-padding 0;
  }

  & > .button-container button {
    line-height: 1em;
  }

  .icon {
    margin: 0;
    font-size: 200%;
    position: static;
  }
}

.fixed-btn {
  margin-bottom: $main-padding;

  .icon {
    position: relative;
    margin-right: 5px;
    top: -2px;
    font-size: inherit;
  }
}

.button-container {
  position: sticky;
  top: 20px;
  z-index: 1;

  & > button {
    width: auto;
    position: absolute;
    top: -20px;
    right: -10px;
    white-space: normal;
    border-radius: 50px;
    padding: 14px;
    cursor: pointer;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);

    & > span {
      display: none;
    }
  }
}

.guest-book-msgs {
  & > div {
    padding: $main-padding 0 0 0;
    position: relative;

    &:first-child {
      padding-top: 0;
    }
  }

  & > :last-child {
    margin-bottom: $main-padding;
  }
}

.mascot-direction {
  padding-left: 60px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    z-index: 1;
    background: transparent img-url('/mascot/poom-direction.png') left center
      no-repeat;
    background-size: contain;
  }
}


@media (max-width: map-get($grid-breakpoints, md) - 1px) {
  .mascot-direction {
    & > :first-child {
      padding-left: 15px + $bubble-padding;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .button-container {
    top: 30px;
    right: auto;

    & > button {
      margin: ($main-padding * 2) 0 0;
      right: -$main-padding * 2;
    }
  }

  .fixed-btn {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .guest-book-msgs {
    max-width: 80%;
    margin: 0 auto;

    & > div,
    & > div:first-child,
    & + button + div {
      padding-top: $main-padding * 2;
    }

    & + button {
      display: none;
    }

    & > :last-child {
      margin-bottom: $main-padding * 3;
    }
  }

  .mascot-direction,
  .panel-container + * {
    max-width: map-get($grid-breakpoints, md);
    margin: 0 auto;
  }

  .mascot-direction {
    padding-left: 180px;

    &::before {
      width: 140px;
      background-position: right center;
    }
  }
}
