.background {
  background: var(--color-bg) url("../../images/theme-2/bg-page.svg");
  // background: var(--color-bg) url("../../images/theme-2/guest-book/bg-right.svg");
  background-repeat: no-repeat;
  background-size: 315mm;
  background-position: -60px 50%;
}

.centered {
  text-align: center;
  line-height: var(--page-height);
}
