.card-presentation-panel {
  background-image: url('../../images/theme-3/card/card_bg_left.svg');
  background-size: 45%;
  background-position: 40% 45%;
}

.content-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 95% !important;
  background: var(--color-bg) url("../../images/theme-3/card/card_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.img {
  border: 13px solid white;
  transform: rotate(2deg);
  max-width: 80%;
  max-height: 80%;
}

