@import '../../../config/bootstrap-pre-customizations';

.trip-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trip-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $main-padding;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}

.trip-events {
  &> div {
    display: flex;
    padding: $main-padding 0 0 15px;
    position: relative;

    &> div:first-child {
      padding: 5px 13px 5px 5px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      bottom: 0;
      width: 0;
      border-left: 3px solid white; // Color OK
    }

    &::after {
      content: '';
      position: absolute;
      left: 5px - (14px / 2);
      top: 80px + 15px;
      width: 15px;
      height: 15px;
      background: var(--brand-primary-C);
      border: 2px solid white; // Color OK
      border-radius: 14px;
    }

    &:first-child {
      &::before {
        top: 80px + 15px;
      }
    }

    &:last-child {
      &::before {
        bottom: auto;
        height: 80px + 15px;
      }
    }

  }

  &+ div {
    margin-top: $main-padding;
  }
}

:global {
  $pswp__assets-path: '../../../node_modules/photoswipe/src/css/default-skin/' !default;

  @import '../../../node_modules/photoswipe/src/css/main.scss';
  @import '../../../node_modules/photoswipe/src/css/default-skin/default-skin.scss';

  // override some styles
  .pswp {
    margin: 0 !important;
    top: auto !important;
    position: absolute !important;
  }
}