.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
  background: white;
}

.wrapper {
  display: inline-block;
  margin: auto 0;
  position: relative;
  top: -10%;
}

.html-code {
  font-size: 40px;
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid black;
}
