@import '../../../config/bootstrap-pre-customizations';

// Skeleton: sticky footer
:global {
  html, body, #root, #root > div {
    height: 100%;
  }

  #root > div > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    //height: 100%; /* 1, 3 */
  }
}

@keyframes :global(slideDownUp) {
  0% {
    transform: translate(0, -100%);
  }
  7%, 93% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

.flash {
  :global {
    .alert {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 90000;
      border-radius: 0;
      animation-name: slideDownUp;
      animation-duration: 3s;
      animation-timing-function: linear;
      transform: translate(0, -100%);
      white-space: pre-wrap;
    }
  }

  &:empty {
    display: none;
  }
}

header, footer {
  flex: none; /* 2 */
}

main {
  flex: 1 0 auto; /* 2 */
  width: 100%;
  background: var(--brand-secondary-C);
  background: linear-gradient(to bottom, var(--brand-secondary-C), var(--brand-secondary-A));
  display: flex;
  flex-direction: column;
  position: relative;
}

main > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $main-padding;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}

main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  //margin-top: $main-padding;
  height: 0;
  visibility: hidden;
}

// Fonts
body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Scrollbars
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

