@import '../../../config/styles/variables';
@import '../../../config/styles/reset';

:global {
  .kite-cover {
    --page-width: 324mm;
    --page-height: 256mm;
    --kite-margin: 6.76mm;

    page-break-inside: avoid;
    height: var(--page-height);

    > div {
      display: inline-block;
    }

    &.kite-pr-51-100 {
      --kite-margin: 11.25mm;
    }
    &.kite-pr-101-150 {
      --kite-margin: 15.75mm;
    }
    &.kite-pr-151-200 {
      --kite-margin: 20.24mm;
    }
    &.kite-pr-201-250 {
      --kite-margin: 24.74mm;
    }
    &.kite-pr-251-300 {
      --kite-margin: 29.24mm;
    }

    width: calc(var(--page-width) * 2 + var(--kite-margin));

    > div:last-child .pdf-page {
      margin-left: var(--kite-margin);
    }
  }
}

.alert {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;

  &.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

@keyframes loading {
  from {
    transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(200px, 0, 0);
  }
}

.loading-preview {
  $width: 200px;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: $width;
  margin-left: -$width / 2;
  height: 10px;
  margin-top: -5px;
  border: 1px solid black;
  border-radius: 3px;
  overflow: hidden;

  > div {
    width: 0;
    height: 100%;
    width: 100px;
    background-color: #404040;
    animation: loading 1.3s ease-in-out infinite alternate;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes hide {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: -100%;
    left: -100%;
  }
}

.rotate-device {
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  height: 200px;
  margin-top: -110px;
  padding: 10px;
  border: 1px solid gray;
  background: white;
  border-radius: 15px;
  color: gray;

  svg {
    width: 100px;
    margin: 20px 40px 25px;
    fill: gray;
  }
}

@media screen and (orientation: portrait) and (max-width: 1000px) {
  .rotate-device {
    display: block;
    animation: fade-out 4s ease-in 1s 1 forwards, hide 0.01s linear 5s 1 forwards;
  }
}

:global {
  .preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 10px 10px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #5995ed, #b749f8);

    .flipbook {
      visibility: hidden;
    }

    .flipbook-transition {
      transition: left 1.3s;
    }

    .pdf-page {
      transform-origin: 0 0;
    }
  }

  .preview-controls {
    display: none;
    position: absolute;
    z-index: 2000;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;

    > div {
      display: inline-block;
      background-color: #404040;
      color: white;
      padding: 10px 5px;
      border-radius: 3px;

      > span:first-child {
        display: inline-block;
      }
    }

    .svg {
      padding: 1px 8px 6px;

      svg {
        height: 18px;
        fill: #404040;
      }
    }

    .total,
    .current,
    input,
    button {
      border-radius: 3px;
      font-size: 14px;
      margin: 0 5px;
      padding: 4px 8px;
      line-height: 22px;
      border: 0;
      outline: none;
      text-align: center;
    }

    input {
      width: 50px;
      margin-right: 0;
      background-color: #f0f0f0;
    }

    .current {
      display: none;
      margin: 0;
      padding-right: 0;
    }
    .total {
      margin: 0;
    }

    button {
      padding: 2px 0 6px;
      text-align: center;
      font-size: 28px;
      letter-spacing: -2px;
      min-width: 38px;
      cursor: pointer;
      background-color: #f0f0f0;
      color: #404040;
    }
  }

  .order {
    position: absolute;
    z-index: 1000;
    top: 5px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    text-align: center;

    > a {
      padding: 8px 30px;
      color: #333;
      background-color: #efc45c;
      border: 1px solid #b46f4e;
      border-radius: 3px;
      font-size: 16px;
      text-decoration: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);

      &:hover {
        position: relative;
        transform: translate(1px, 1px);
      }
    }
  }

  @media screen and (max-height: 500px) {
    .preview {
      padding-bottom: 45px;
    }
    .preview-controls {
      > div {
        opacity: 0.6;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .order > a {
      opacity: 0.8;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  @media screen and (max-width: 400px) {
    .preview-controls {
      button {
        min-width: 30px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .preview-controls {
      .page {
        display: none;
      }
      .total {
        padding-left: 0;
      }
      .current {
        display: inline;
      }
    }
  }
}
