section {
  .guestbook-page-presentation {
    background-image: url('../images/bg-pages/bg-guestbook.svg');
  }
  .guestbook-message-container {
    text-align: center;
    letter-spacing: -1.1mm;
  }
  .guestbook-message-container > * {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
  }
  .guestbook-message {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: left;
    max-width: 140mm;

    &:first-child {
      margin-bottom: 15mm;
    }
  }
  .guestbook-message > * {
    display: inline-block;
    vertical-align: middle;
  }
  .guestbook-message-quote-container {
    position: relative;
    padding: 4mm;
    max-width: 82mm;
    min-width: 50mm;
    margin-left: 8mm;
    font-style: italic;
    border-radius: 0.8mm;
    background: white;
    word-wrap: break-word;

    &::before {
      content: '';
      position: absolute;
      left: -4.5mm;
      top: 10%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0mm 6mm 10mm 0mm;
      border-color: transparent transparent #fff transparent;
      transform: rotate(-90deg);
    }
  }
  .guestbook-message-image-container {
    width: 50mm;
    height: 58mm;
    border: 2.5mm solid white;
    border-bottom-width: 10.5mm;
    border-radius: 1.3mm;
  }

  .guestbook-page-left,
  .guestbook-page-right,
  .guestbook-page-content {
    text-align: center;
    line-height: var(--page-height);

    & > * {
      display: inline-block;
      line-height: normal;
      text-align: left;
    }
  }
  .guestbook-page-left,
  .guestbook-page-content {
    background: var(--color-bg) url('../../album-photo-app/images/page-bg.png') left top/1000px auto repeat;
  }

  .guestbook-page-intro,
  .guestbook-message-container--left {
    .guestbook-message:nth-child(1) {
      .guestbook-message-image-container {
        transform: rotate(-15deg);
      }
      .guestbook-message-quote-container {
        margin-top: -20mm;
      }
    }
    .guestbook-message:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .guestbook-message-image-container {
        transform: rotate(15deg);
      }
      .guestbook-message-quote-container {
        margin: -20mm 8mm 0 0;

        &::before {
          left: auto;
          right: -4.5mm;
          border-width: 0mm 2mm 9mm 2mm;
          transform: rotate(-260deg);
        }
      }
    }
  }

  /* Page intro*/
  .guestbook-page-intro {
    .guestbook-message {
      max-width: 160mm;
    }
    .guestbook-message-quote-container {
      max-width: 98mm;
    }
    .guestbook-message--bottom .guestbook-message-quote-container {
      vertical-align: text-top;
    }
  }
  /* Page gauche*/
  .guestbook-message-container--left {
    width: 55%;
    min-width: 150mm;
  }
  .guestbook-message-container--left {
    .guestbook-message-quote-container {
      vertical-align: text-top;
    }
  }
  .guestbook-message-container--right {
    width: 35%;
    .guestbook-message {
      text-align: center;

      .guestbook-message-image-container {
        transform: rotate(10deg);
      }
      .guestbook-message-quote-container {
        text-align: left;
        margin: 10mm 0 0;

        &::before {
          left: 45%;
          top: -6mm;
          border-width: 0mm 2mm 9mm 4mm;
          transform: rotate(0deg);
        }
      }
    }
  }

  /* Page droite*/
  .guestbook-page-right {
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: var(--color-bg) url('../../album-photo-app/images/page-bg.png') left top/1000px auto repeat;
    }
    .guestbook-message {
      display: block;
      max-width: 195mm;
      margin-left: 46mm;
    }
    .guestbook-message-image-container {
      width: 55mm;
      height: 65mm;
    }
    .guestbook-message-quote-container {
      max-width: 105mm;
      margin-left: 30mm;
      border: 5mm solid gray;
      border-radius: 5mm;
      border-color: var(--color-bg);

      &::before {
        left: -10.5mm;
        top: 35%;
        border-width: 0mm 3mm 8mm 2mm;
        border-color: transparent transparent var(--color-bg) transparent;
      }
    }
  }
}
