@page {
  size: A4 landscape;
  margin: 0;
}
@media print {
  html,
  body {
    width: var(--page-width);
    height: var(--page-height);
  }
}

body {
  counter-reset: page-numbers;
}

.alert {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;

  &.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

.image-container {
  background: #f5f5f5 url('') center/cover no-repeat;
}
.page {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: var(--page-width);
  height: var(--page-height);
  display: block;
  page-break-inside: avoid;
}
.page-presentation,
.page-content {
  height: var(--page-height);
  position: relative;
  z-index: 0;
}
.page-presentation {
  float: left;
  width: 35%;
  background: transparent none left top/100% auto no-repeat;
  @extend .centered-page;
}
.page-content {
  float: right;
  width: 65%;
}
.page-title-container {
  margin-top: -40mm;

  &::before {
    counter-increment: page-numbers;
    content: counter(page-numbers);
    display: block;
    margin: -15mm auto 55mm;
    font-size: 18px;
    font-weight: bold;
    width: 8mm;
    height: 8mm;
    text-align: center;
    line-height: 8mm;
    border-radius: 50%;
    transform: rotate(-15deg);
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
.page-title {
  width: 41mm;
  margin: 0 auto;
  text-align: center;
  transform: rotate(-16deg);
}
.page-desc {
  width: 53mm;
  margin-top: 10.5mm;
  font-size: 10px;
  color: var(--page-color-gray);
}
.centered-page {
  text-align: center;
  line-height: var(--page-height);

  & > * {
    display: inline-block;
    line-height: normal;
    text-align: left;
  }
}
.page-with-bg {
  background: var(--color-bg) url('../../album-photo-app/images/page-bg.png') left top/1000px auto repeat;
}
.border-with-bg {
  @extend .page-with-bg;
  padding: 5mm;
  border-radius: 1.3mm;
  background-position: 136mm center;
  background-size: 148mm auto;

  > * {
    padding: 5mm;
    background: white;
    border-radius: 1.3mm;
  }
}
