/* Reset */
@charset "UTF-8";

@page {
  size: A4 landscape;
  margin: 0;
}
@media print {
  html,
  body {
    width: var(--page-width);
    height: var(--page-height);
  }
}

[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 27px;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color: var(--page_color);
  text-align: center;
  background: gray;
}

:global(img:not(.emoji)) {
  display: block;
}

:global(img.emoji) {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
