@import '../../../config/bootstrap/bootstrap-var';

.arrival-container {
  &>div+div {
    margin-top: $main-padding * 1.25;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.info {
  background: var(--neutral-secondary);
  padding: $main-padding;
  border-radius: 10px;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding-left: 5px;
    padding-right: 5px;
  }

  th {
    font-weight: normal;
    color: var(--neutral-secondary-E);
  }

  td {
    font-weight: bold;
    color: var(--neutral-secondary-F);
  }

  tr+tr {
    border-top: 1px solid var(--brand-secondary-B);
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .arrival-container {
    &>div+div {
      margin-top: $main-padding * 2 * 1.25;
    }

    &> :global(.bp-bubble-say .bp-bubble) {
      margin-bottom: $main-padding * 2 * 1.25;
    }
  }

  .info {
    padding: $main-padding * 2;
    margin-top: 0 !important; //$main-padding * 1.25 !important;

    &+* {
      margin-top: $main-padding * 3 * 1.25 !important;
    }
  }
}
