@import '../../../config/bootstrap/bootstrap-var';

.container {
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}

.wrapper {
  flex: 1 0 auto;
  max-width: map-get($grid-breakpoints, sm) !important;
  padding: $main-padding;
  margin: auto 0;
  position: relative;
  top: -10%;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .wrapper {
    padding: $main-padding * 2;
  }
}
