@import '../../../config/bootstrap/bootstrap-var';
@import '../../components/bubble/styles.scss';

.pot-container {
  max-width: map-get($grid-breakpoints, lg) !important;

  & > div {
    margin-top: $main-padding;

    &:first-child {
      margin-top: 0;
    }
  }
}

.gift {
  width: 100%;
}

.btn-link {
  padding: 0;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.mascot {
  padding-left: 60px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    z-index: 1;
    background: transparent img-url('/mascot/gift.png') left center no-repeat;
    background-size: contain;
  }
}

.mascot-direction {
  padding-left: 60px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    z-index: 1;
    background: transparent img-url('/mascot/poom-direction.png') left center
      no-repeat;
    background-size: contain;
  }
}

.panel-container {
  & > :last-child {
    margin-top: $main-padding;
  }
}

.action {
  text-align: center;

  .btn {
    margin-top: 30px;
  }
}

.help {
  font-size: small;
  font-style: italic;
}

.charity-modal-img {
  float: left;
  width: 100%;
  margin-bottom: $main-padding;
}

@media (max-width: map-get($grid-breakpoints, md) - 1px) {
  .mascot {
    & > :first-child {
      padding-left: 15px + $bubble-padding;
    }
  }
  .mascot-direction {
    & > :first-child {
      padding-left: 15px + $bubble-padding;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .pot-container {
    & > div {
      margin-top: $main-padding * 2;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .mascot,
  .panel-container + * {
    max-width: map-get($grid-breakpoints, md);
    margin: 0 auto;
  }

  .mascot {
    padding-left: 180px;

    &::before {
      width: 140px;
      background-position: right center;
    }
  }

  .mascot-direction,
  .panel-container + * {
    max-width: map-get($grid-breakpoints, md);
    margin: 0 auto;
  }

  .mascot-direction {
    padding-left: 180px;

    &::before {
      width: 140px;
      background-position: right center;
    }
  }

  .panel-container {
    display: flex;

    // TODO: uncomment when the shop is back
    // & > :first-child {
    //   margin-right: $main-padding;
    // }
    // & > :last-child {
    //   margin-top: 0;
    //   margin-left: $main-padding;
    // }

    // TODO: comment when the shop is back
    & > :first-child {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  .charity-modal-img {
    float: left;
    width: 33%;
    margin: 0 ($main-padding * 2) $main-padding 0;
  }
}
